---
layout: homepage
title: miniml
logo: light
---

<body>
  <div class="uk-background-cover uk-background-bottom-center" style="background-image: url({{ "/assets/img/baner-web-06.jpg" | relative_url }});background-color:#333333;">
    {% include header.html %}
    <div class="uk-section uk-section-large">
      <div class="intro-text uk-container">
        <h3 class="uk-heading-medium uk-animation-slide-left-small">Fundación <br>San Vicente Pallotti</h3>
        <div class="uk-grid-match uk-child-width-1-1@m" uk-grid>
          <div>
            <h4 class="uk-h4 uk-animation-slide-left-small">Facil</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="Connect" class="uk-section uk-section-secondary">
    <div class="uk-container">
      <h2 class="uk-heading-line"><span>Footer</span></h2>
      <div class="uk-child-width-1-2@m" uk-grid>
        <div>
          <p>
            QUE CAMBIA.
          </p>
        </div>
        <div>
        </div>
      </div>
    </div>
  </div>
</body>
